<header class="site-header">
    <div class="ui big launch right attached fixed button">
        <i class="content icon"></i>
        <span class="text">目录</span>
    </div>

    <nav class="site-nav-right">
        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="搜索...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </nav>

    <div class="wrap">
        <div class="site-title">
            <a href="{{ site.url }}/">{{ site.title }}</a>
        </div>
    </div>
</header>
