<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} - {{site.title}} {% else %}{{ site.title }}{% endif %}</title>
    <meta name="keywords"
          content="Material Design 翻译,Material Design 中文版,Material Design 中文翻译,Material Design,Animation,Style,Layout,Components,Patterns,Usability,Resources"/>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width">

    <meta name="google-site-verification" content="u_spGpGelREtlT5DBka76njUf5APi7V7O_RFcRSIZKM"/>
    <meta name="baidu-site-verification" content="TD5AUMpEdH"/>
    <link rel="canonical" href="/index.html">
    <link rel="shortcut icon" href="{{ site.url }}/asserts/ico/favico.ico"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.url }}/asserts/css/main.css">
    <link rel="stylesheet" href="{{ site.url }}/asserts/css/highlight.css">
    <link rel="stylesheet" href="{{ site.url }}/asserts/css/bootstrap.css">
    <!--<link href="http://cdn.bootcss.com/semantic-ui/0.16.1/css/semantic.min.css" rel="stylesheet">-->
    <link href="{{ site.url }}/asserts/css/semantic.min.css" rel="stylesheet">
    <link href="{{ site.url }}/asserts/css/bootstrap-treeview.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/asserts/css/custom.css">
    <script src="{{ site.url }}/asserts/js/jquery-3.2.1.min.js"></script>
    <!--<script src="http://cdn.bootcss.com/semantic-ui/0.16.1/javascript/semantic.js"></script>-->
    <script src="{{ site.url }}/asserts/js/semantic.min.js"></script>
    <script src="{{ site.url }}/asserts/js/bootstrap-treeview.min.js"></script>
</head>
