<div class="ui visible left vertical sidebar menu">
    <div class="item">
        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="搜索...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
    <div class="item">
        <div id="summary"></div>
    </div>
    <!--<div class="item">-->
    <!--<b>Components</b>-->
    <!--<div class="menu">-->
    <!--<a class="item" href="{{ site.url }}/bottom-sheets.html">底部动作条 - Bottom Sheets </a>-->
    <!--<a class="item" href="{{ site.url }}/buttons.html">按钮 - Buttons </a>-->
    <!--<a class="item" href="{{ site.url }}/cards.html">卡片 - Cards</a>-->
    <!--<a class="item" href="{{ site.url }}/chips.html">纸片 - Chips</a>-->
    <!--<a class="item" href="{{ site.url }}/dialogs.html">提示框 - Dialogs</a>-->
    <!--<a class="item" href="{{ site.url }}/dividers.html">分隔线 - Dividers</a>-->
    <!--<a class="item" href="{{ site.url }}/grids.html">网格 - Grids</a>-->
    <!--<a class="item" href="{{ site.url }}/lists.html">列表 - Lists</a>-->
    <!--<a class="item" href="{{ site.url }}/list-controls.html">列表控制 - List controls</a>-->
    <!--<a class="item" href="{{ site.url }}/menus.html">菜单 - Menus</a>-->
    <!--<a class="item" href="{{ site.url }}/progress-activity.html">进度和动态 - Progress and Activity</a>-->
    <!--<a class="item" href="{{ site.url }}/sliders.html">滑块 - Sliders</a>-->
    <!--<a class="item" href="{{ site.url }}/snackbars-and-toasts.html">Snackbars 与 Toasts - Snackbars and-->
    <!--Toasts</a>-->
    <!--<a class="item" href="{{ site.url }}/subheaders.html">副标题 - Subheaders</a>-->
    <!--<a class="item" href="{{ site.url }}/switches.html">开关 - Switches</a>-->
    <!--<a class="item" href="{{ site.url }}/tabs.html">Tabs - Tabs</a>-->
    <!--<a class="item" href="{{ site.url }}/text-fields.html">文本框 - Text fields</a>-->
    <!--<a class="item" href="{{ site.url }}/tooltips.html">工具提示 - Tooltips</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="item">-->
    <!--<b>Patterns</b>-->
    <!--<div class="menu">-->
    <!--<a class="item" href="{{ site.url }}/selection.html">内容选取 - Selection</a>-->
    <!--<a class="item" href="{{ site.url }}/gestures.html">手势 - Gestures</a>-->
    <!--<a class="item" href="{{ site.url }}/promoted-actions.html">改进的操作 - Promoted Actions</a>-->
    <!--<a class="item" href="{{ site.url }}/settings.html">设置 - Settings</a>-->
    <!--<a class="item" href="{{ site.url }}/imagery-treatment.html">影像处理 - Imagery Treatment</a>-->
    <!--<a class="item" href="{{ site.url }}/search.html">搜索 - Search</a>-->
    <!--</div>-->
    <!--</div>-->
</div>