<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="pusher">
            {% include header.html %}
            <div class="page-content">
                <div class="wrap">
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
<script>
    var summary = [];
    {% for item in site.data.summary %}
        summary.push({{ item | replace: "=>", ":" }});
    {% endfor %}
    console.info(summary);
    // 菜单
    $('#summary').treeview({
        color: "#428bca",
        enableLinks: true,
        showBorder: false,
        data: summary
    });

    // 边栏
    $('.vertical.sidebar').sidebar('setting', {dimPage: false})
            .sidebar('show');

    // 目录搜索
    $('.ui.search').search({
        source: $("#summary").treeview('getEnabled'),
        minCharacters: 2, // 最小搜索字符
        fields: {
            title: 'text', // 结果标题
//            description: 'description', // 描述
            url: 'href' // 跳转url
        },
        searchFields: ['text']
    });
</script>
</html>