/*Gitbook Table样式*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    page-break-inside: avoid;
    margin-top: 0;
    margin-bottom: .85em;
    display: table;
    width: 100%;
    overflow: auto
}

table th {
    font-weight: 700;
    padding: 6px 13px;
    background-color: darkgray;
    border: 1px solid #ddd;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
    page-break-inside: avoid;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8
}

table td, table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}

h2 {
    color: #696969;
}

h3 {
    color: #2674BA;
}

h4 {
    color: #F77A0B;
}

h5 {
    color: #662D91;
}

th {
    background-color: #666666;
    color: white;
}

/**Custom semantic styles*/
.ui.left.sidebar, .ui.right.sidebar {
    width: 390px;
}

.fixed.launch.button {
    display: none;
    position: fixed;
    top: 2.5em;
    left: 0px;

    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.3s width ease,
    0.5s transform ease;
    -moz-transition: 0.3s width ease,
    0.5s transform ease;
    -o-transition: 0.3s width ease,
    0.5s transform ease;
    -ms-transition: 0.3s width ease,
    0.5s transform ease;
    transition: 0.3s width ease,
    0.5s transform ease;
}

.launch.button .icon {
    margin-left: 0px;
}

.fixed.launch.button .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
    opacity: 0;
    -webkit-transition: 0.3s opacity 0.3s;
    -moz-transition: 0.3s opacity 0.3s;
    -o-transition: 0.3s opacity 0.3s;
    -ms-transition: 0.3s opacity 0.3s;
    transition: 0.3s opacity 0.3s;
}

.fixed.launch.button:hover {
    width: 130px;
}

.fixed.launch.button:hover .text {
    opacity: 1;
}